
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SimpleUmbraco.Model.ContactUsRenderModel>

@using SimpleUmbraco.Controller
@using Umbraco.Web

@{
    var success = TempData["FormSuccess"] != null;
}
@if (success)
{
    @* This message will show if RedirectOnSucces is set to false (default) *@
    <p>Thanks for @TempData["Name"] information!</p>
}
else
{
 using (Html.BeginUmbracoForm<ContactUsSurfaceController>("HandleContactSubmit"))
 {
     @Html.ValidationSummary("ContactUsRenderModel", true)
     @Html.LabelFor(m => Model.Username)
     @Html.TextBoxFor(m => Model.Username)
     <br/>
     @Html.LabelFor(m => Model.PhoneNumber)
     @Html.TextBoxFor(m => Model.PhoneNumber)
     <br/>
     <input type="submit" value="save form"/>
 }
}